
body {
  font-family: Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
p {
    text-wrap: pretty;  
  border: 2px solid rgb(36, 109, 119);
  padding: 30px;
   text-shadow: 5px 5px #558ABC;
}